---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="ポリシーと規約"
  description="私の開発した各ウェブサイト、ウェブアプリケーションの規約を管理しています。"
>
  <main>
    <a href="/privacy">プライバシーポリシー</a>
    <a href="/terms">利用規約</a>
  </main>
</Layout>

<style></style>
