---
---

<div class="flex items-end">
  <img
    src="https://assets.konomi.app/img/logo.svg"
    alt="サイトロゴ"
    loading="lazy"
    class="w-14 h-14"
  />
  <img
    src="https://assets.konomi.app/img/logo-text.svg"
    alt="ロゴテキスト"
    loading="lazy"
    class="w-auto h-12"
  />
</div>
