---
import { COMPANY_NAME, COMPANY_NAME_RUBY } from 'src/consts';
---

<div class="logo">
  <img
    src="https://assets.konomi.app/img/logo.webp"
    alt="サイトロゴ"
    loading="lazy"
    class="w-14 h-14"
  />
  <div class='text-lg font-bold grid text-[#5e90be]'>
    <span class='tracking-tighter leading-none'>Ribbit App</span>
    <span class='tracking-tighter leading-none'>Development</span>
  </div>
</div>
<style>
  .logo {
    display: flex;
    align-items: flex-end;
    font-weight: 700;
  }
  img {
    width: 3.5rem;
    height: 3.5rem;
  }
</style>
